<div class="contents-row">
  <div class="task-post">
  <a class="post" href="/tasks/new">タスクを追加する</a>
    <% @tasks.each do |task| %>
      <div class="task-list">
        <label>
          <input type="checkbox" onchange="completeTask(event)">
          <%= task.task_name %>
          <%= task.deadline.strftime("%m/%d %H:%M") %>
        </label>
        <div class="task-edit">
          <li><%= link_to '編集' %></li>
          <li><%= link_to '削除', task_path(task.id), method: :delete %></li>
        </div>
      </div>
    <% end %>
  </div>
</div>